@import "./colors.scss";

.founder{
    height: 80vh;
    width: 100%;
    background-color: $red;
    >div{
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        text-align: center;
        margin: auto;
    }


    >img{
        border-radius: 100%;
    }

    >h1{
        font-size: 1.3rem;
        padding: 2rem 0 1rem 0;

    }
    >p{
        font-family: cursive;
        letter-spacing: 3px;
        line-height: 200%;
        font-size: 0.8rem;
    }
}